body {
  background-color: aqua;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}
.wrapper {
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)  ;
  width: 100%;
  max-width: 50rem; /* 800px */
  margin: 0 auto;
  margin-top: 3.75rem; /* 60px */
  margin-bottom: 2.5rem; /* 40px */
}
.header__section {
  padding-top: 2.5rem; /* 40px */
}
#title {
  color: rgb(63, 63, 63);
  font-size: 2.1875rem; /* 35px */
  font-weight: 800;
  text-align: center;
}
#description {
  color: rgb(63, 63, 63);
  font-size: 18px;
  /* padding-top: 10px; */
  margin-bottom: 30px;
  text-align: center;
}
.form__section {
  /* border: 1px solid magenta; */
  margin: 0 auto;
  width: 75%;
}
.form__container {
  /* border: 1px solid aqua; */
  margin: 0 auto;
  width: 75%;
}
#survey-form {
  display: flex;
  flex-direction: column;
}
label {
  padding-top: 20px;
  font-weight: 500;
}
input {
  border: 1px solid rgb(42, 43, 63);
  border-radius: 3px;
  border-style: solid;
  padding: 10px 0 5px 10px;
  margin-top: 5px;
}
input[placeholder] {
  font-size: 14px;
}
input:last-child {
  margin-bottom: 60px;
}
.radiobuttons,
.checkboxes,
.textfield,
.formbutton {
  margin-top: 20px;
}
.textfield {
  padding-top: 20px;
  margin: 0 auto;
}
textarea {
  border: 2px solid;
  margin-top: 5px;
  resize: none;
}
#comments {
  color: rgb(87, 87, 94);
  font-size: 14px;
  padding: 5px 50px 0 10px;
}
.formbutton {
  margin-bottom: 40px;
}
#submit {
  background-color: rgb(14, 139, 139);
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  color: #FFF;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 6px;
}
